    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>A BIT ABOUT ME</h2>
                <p>As a baseball lifer, playing for a time at Virginia State University and continuing on competitive adult teams in Virginia. But a series of injuries precipitated a close to that career. Due to a freak accident in 2014 baseball just wasn't the same anymore. I was introduced to mountain biking late 2015. That quickly elevated to racing downhill in 2016. After racing the past five years, I became super passionate; which, led to a number of opportunities to become an ambassador of the sport. Since then I've decided to become a certified professional MTB instructor. I want to help others enjoy the trail just as much as I do and as safe a possible.</p>
                <p>Based in the greater Richmond area, I have been coaching riders since 2019. I am extremely passionate about being active, healthy and developing the proper techniques. But I’m also extremely passionate about the game and ready to help my clients improve theirs. I’ve been told I was patient, gave actionable guidance and I give each player the individual guidance they need to exceed their potential.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Level I PMBIA Instructor</p>
            </div>
        </div>
    </section>